.user-tracker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 120px;
  background-color: #f4f4f4;
}

.user-card {
  width: 40%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(194, 194, 194, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.user-details p {
  padding: 5px 0px;
  font-size: 14px;
}

.level-selector {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-selector label {
  margin-right: 10px;
  font-size: 14px;
}

.level-selector select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}
.savelevelbtn {
  background-color: #ff6f3a;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
@media (max-width: 1200px) {
  .user-tracker-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .user-tracker-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .user-tracker-container {
    grid-template-columns: 1fr;
  }
}
